@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

@font-face {
  font-family: "ct";
  src: url("/fonts/ct/regular.woff2") format("woff2");
}

@font-face {
  font-family: "ct";
  src: url("/fonts/ct/italic.woff2") format("woff2");
  font-style: italic;
}

@font-face {
  font-family: "ct";
  src: url("/fonts/ct/bold.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "ct";
  src: url("/fonts/ct/bold_italic.woff2") format("woff2");
  font-style: italic;
  font-weight: bold;
}

strong {
  font-family: "Open Sans", sans-serif;
}
