@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p > a:not(.no-fancy-underline),
  .footnotes li a:not(.data-footnote-backref),
  .fancy-underline {
    @apply relative text-primary-500 font-medium transition-all duration-300 no-underline;
    background-image: linear-gradient(
      to right,
      theme("colors.primary.500"),
      theme("colors.primary.500")
    );
    background-size: 0% 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;

    &:hover {
      @apply text-primary-400;
      background-size: 100% 2px;
    }
  }

  .footnotes .data-footnote-backref {
    @apply text-primary-500 no-underline transition-colors duration-300;

    &:hover {
      @apply text-primary-400;
    }
  }

  .prose sup > a {
    @apply text-primary-500 no-underline transition-colors duration-300;

    &:hover {
      @apply text-primary-400;
    }
  }

  h1 {
    @apply text-gray-900;
  }

  h2 {
    @apply text-gray-800;
  }

  h3 {
    @apply text-gray-700;
  }

  h4 {
    @apply text-gray-600;
  }

  [data-footnote-ref]::before {
    content: "[";
  }

  [data-footnote-ref]::after {
    content: "]";
  }
}
