@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p > a:not(.no-fancy-underline),
  .fancy-underline {
    @apply relative text-primary-500 font-medium transition-all duration-300 no-underline;
    background-image: linear-gradient(
      to right,
      theme("colors.primary.500"),
      theme("colors.primary.500")
    );
    background-size: 0% 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;

    &:hover {
      @apply text-primary-400;
      background-size: 100% 2px;
    }
  }
}
